<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="SignUp">
    <classes>
      <class name="signup.RunnerSignup"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Login">
    <classes>
      <class name="login.RunnerLogin"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="OneWay">
    <classes>
      <class name="oneway.RunnerOneWay"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="RoundTrip">
    <classes>
      <class name="roundtrip.RunnerRoundTrip"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Domestic Hotel">
    <classes>
      <class name="domesticHotel.RunnerDomesticHotel"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="International Hotel">
    <classes>
      <class name="internationalHotel.RunnerInternationalHotels"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->